<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.andsim.bubbles.activity" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:icon="@drawable/bubble" android:label="@string/app_name">
		<activity android:name=".BubblesStart" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".BubbleMenu" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="no.andsim.bubbles.activity.BUBBLEMENU" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".BubblesOne" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="no.andsim.bubbles.activity.BUBBLESONE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="no.andsim.bubbles.activity.SettingsMenu"
			android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="no.andsim.bubbles.activity.SETTINGSMENU" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
</manifest>